{% extends 'base.html.twig' %}

{% block title %}Alta nuevo empleado{% endblock %}

{% block body %}

<h1>Alta nuevo empleado</h1>
	<h2>Rellena los datos del nuevo empleado:</h2>
	{{ form(form, {'attr': {'class':'form-horizontal'}}) }}

{% endblock %}